openai
streamlit
streamlit-chat
python-decouple
python-dotenv
langchain
langchain-openai
langchain-community
tiktoken
chromadb
faiss-cpu
pypdf
markdown
pyMuPDF
matplotlib
yfinance
pandas
numpy
tavily-python 
langchainhub
numexpr
llama-cpp-python
gpt4all
urllib3
unstructured